<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Meme It HomePage</title>
    <link rel="stylesheet" href="/homeStyles.css"/>
</head>
<body>
    <h1>We Meme It HomePage</h1>
    <a href = "/meme/">Meme Index Page</a>
</body>
</html>