html {
    background-image: url("https://i.imgur.com/BPhaZI8.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px greenyellow;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 50px;
}

ul {
    display: block;
    text-align: left;
    background-color: rgb(50, 50, 50, .5);
    list-style-type: none;
    overflow: hidden;
    float: left;
    padding: 10px;
}
      
li a {
    color: white;
    text-shadow: 2px 2px 4px rgb(255, 56, 192);
    text-align: left;
    text-decoration: none;
    margin: 10px;
}

li a:hover {
    background-color: rgb(255, 255, 255);
}