/* Meme home body style */
body {
    background-color: lightblue;
}

/* home meme image style */
.homeImage{
    height: 300px;
    width: 300px;
}

/* show meme image style */
.showImage{
    height: 500px;
    width: 500px;
}